.navbar {
    background-color: #66405b !important;
    border-bottom-width: 3px;
border-bottom-style: solid;
}

.bg-light {
    background-color: #66405b !important;
}

.navbar-light {
    background-color: #66405b !important;
}

.header {
    font-family: 'Diplomata SC', cursive;
    color: black;
}

.navbar-text {
    text-align: center;
   
}

.container {
    background-color: #fff;
}

p {
    font-size: 24px;
    padding-top: 16px;
    height: 69px;
}
#row1display {
    background-color:#ed65c6;
    border-right-width: 3px;
border-right-style: solid;
padding-right: 0px;
border-left-width: 3px;
border-left-style: solid;
}



#row2display {
    background-color:#ed65c6;
    border-right-width: 3px;
    border-right-style: solid;
    padding-top: 18px;
    padding-bottom: 40px;

}

.crystal-image {
    border-top-width: 3px;
border-top-style: solid;
border-right-width: 3px;
border-right-style: solid;
border-bottom-width: 3px;
border-bottom-style: solid;
border-left-width: 3px;
border-left-style: solid;
margin-left: 15px;
margin-top: 25px;

width: 40%;

}

.sticky-bottom {
    border-top-width: 3px;
    border-top-style: solid;
}

#sticky-copyright {
    text-align: center;
   
}